ul.nav li{
    display: inline-block;
    padding-right: 10px;
    background-color: red;
}

h1 {
  color: red
}
a:link {
color: white;
}

a:visited {
color: gold;
}

* {
  font-family: sans-serif;
  color: black;
}


}
#kin{
  border: solid black;
  border-width: 3px;
  background-color: #F3D250;
  margin-bottom: 3px;
}

#kin ul {
  color: black;
  font-size: 16px;
  font-weight: bold;
}

#vis{
  border-style: solid;
  border-color: black;
  border-width: 3px;
  background-color: #90CCF4;
}

#vis ul {
  color: black;
  font-size: 16px;
  font-weight: bold;
}
#aud{
  border-style: solid;
  border-color: black;
  border-width: 3px;
  background-color: #F78888;
}

#aud ul {
  color: orange;
  font-size: 16px;
  font-weight: bold;
}
