h1 {
  color: blue;
}

p {
  color: blue;
  font-family: Helvetica;
  font-size: 16px;
}

ul li {
  background-color: yellow;
}

h2 {
  color: green;
  background-color: orange;
  font-size: 20px;
}

p {
  color: blue;
  font-family: Helvetica;
  size: 16x;
}

ol li {
  background-color: teal;
}
